[submodule "wp-content/plugins/kc-settings"]
	path = wp-content/plugins/kc-settings
	url = git://github.com/kucrut/kc-settings.git
[submodule "wp-content/plugins/kc-essentials"]
	path = wp-content/plugins/kc-essentials
	url = git://github.com/kucrut/kc-essentials.git
